@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Outfit:wght@400;500;600;700&display=swap');

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-display: 'Outfit', sans-serif;
  
  --color-background: #09090b;
  --color-surface: #18181b;
  --color-surface-hover: #27272a;
  --color-primary: #818cf8;
  --color-primary-hover: #6366f1;
  --color-text-main: #e4e4e7;
  --color-text-muted: #a1a1aa;
}

@layer base {
  body {
    font-family: var(--font-sans);
    background-color: var(--color-background);
    color: var(--color-text-main);
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-display);
  }
}